In [0]:
from google.colab import files

In [4]:
upload=files.upload()

Saving train.csv to train.csv

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline

In [ ]:
# for importing google collab
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")
table_9=pd.read_excel('WeatherData.xlsx',sheet_name='2009')
table_10=pd.read_excel('WeatherData.xlsx',sheet_name='2010')
table_11=pd.read_excel('WeatherData.xlsx',sheet_name='2011')
table_12=pd.read_excel('WeatherData.xlsx',sheet_name='2012')
table_13=pd.read_excel('WeatherData.xlsx',sheet_name='2013')
table_14=pd.read_excel('WeatherData.xlsx',sheet_name='2014')
table_15=pd.read_excel('WeatherData.xlsx',sheet_name='2015')
table_16=pd.read_excel('WeatherData.xlsx',sheet_name='2016')

In [3]:
# For importing in jupyter notebook
train=pd.read_csv("/Users/MCHARU/Desktop/dsedelhi/train.csv")
test=pd.read_csv("/Users/MCHARU/Desktop/dsedelhi/test.csv")
table_9=pd.read_excel('/Users/MCHARU/Desktop/WeatherData.xlsx',sheet_name='2009')
table_10=pd.read_excel('/Users/MCHARU/Desktop/WeatherData.xlsx',sheet_name='2010')
table_11=pd.read_excel('/Users/MCHARU/Desktop/WeatherData.xlsx',sheet_name='2011')
table_12=pd.read_excel('/Users/MCHARU/Desktop/WeatherData.xlsx',sheet_name='2012')
table_13=pd.read_excel('/Users/MCHARU/Desktop/WeatherData.xlsx',sheet_name='2013')
table_14=pd.read_excel('/Users/MCHARU/Desktop/WeatherData.xlsx',sheet_name='2014')
table_15=pd.read_excel('/Users/MCHARU/Desktop/WeatherData.xlsx',sheet_name='2015')
table_16=pd.read_excel('/Users/MCHARU/Desktop/WeatherData.xlsx',sheet_name='2016')

In [22]:
macro=pd.read_excel('/Users/MCHARU/Desktop/macro_economic.xlsx')

In [23]:
macro.head()

,Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports
0,2009 - Jan,14421.752895,14407.053343,233.402,Democrats,7.8,12.03,11.44,22.05,137,57.70,4.02,9.296,7.559,799,12.589,4.17,11.550
1,2009 - Feb,14389.200466,14366.176571,234.663,Democrats,8.3,12.97,11.05,22.22,200,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.100
2,2009 - Mar,14340.701639,14351.786822,235.067,Democrats,8.7,12.97,11.05,22.22,?,51.50,-6.72,9.296,7.559,799,12.589,3.72,11.650
3,2009 - Apr,14326.815525,14351.601731,235.582,Democrats,9.0,12.97,11.05,22.13,214,56.78,10.25,9.296,7.559,787,12.400,3.62,12.225
4,2009 - May,14345.904809,14368.123959,235.975,Democrats,9.4,13.32,11.25,22.04,?,61.95,9.11,9.297,7.400,803,12.384,3.52,12.300

In [5]:
# changing the year entries 
table_10.Year=2010
table_11.Year=2011
table_12.Year=2012
table_13.Year=2013
table_14.Year=2014
table_15.Year=2015
table_16.Year=2016

In [80]:
sum(mydata['Temp high (°C)']=='-')

2

In [82]:
for i in mydata.columns:
    print(i,sum(mydata[i]=='-'))

Temp high (°C) 2
Temp avg (°C) 2
Temp low (°C) 2
Dew Point high (°C) 2
Dew Point avg (°C) 2
Dew Point low (°C) 2
Humidity (%) high 2
Humidity (%) avg 2
Humidity (%) low 2
Sea Level Press. (hPa) high 19
Sea Level Press. (hPa) avg 19
Sea Level Press. (hPa) low 19
Visibility (km) high 28
Visibility (km) avg 28
Visibility (km) low 28
Wind (km/h) low 20
Wind (km/h) avg 20
Wind (km/h) high 59
Precip. (mm) sum 1
date 0

In [67]:
# for joining each table row wise
mydata=pd.concat([table_9,table_10,table_11,table_12,table_13,table_14,table_15,table_16],ignore_index=True)

In [68]:
# for changing the year column into str 
mydata['Year']=mydata.Year.astype(str)

In [86]:
mydata.head()

,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,Humidity (%) avg,Humidity (%) low,Sea Level Press. (hPa) high,Sea Level Press. (hPa) avg,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Precip. (mm) sum,date
0,-3,-6,-9,-16,-17,-19,54,43,32,1025,1023,1015,16,16,16,37,18,60,0,2009-Jan
1,1,-2,-5,-3,-7,-17,78,57,36,1022,1012,1007,16,13,2,27,10,48,T,2009-Jan
2,3,1,-2,-5,-9,-13,72,54,35,1018,1015,1008,16,16,16,27,16,42,T,2009-Jan
3,6,1,-4,-10,-12,-13,55,42,29,1020,1017,1015,16,16,16,32,12,40,0,2009-Jan
4,6,5,3,-1,-5,-16,62,48,33,1016,1014,1013,16,16,16,23,11,34,T,2009-Jan

In [69]:
# for creating two columns into one for id purpose
mydata['date']=mydata['Year']+'-'+mydata['Month']

In [71]:
mydata.drop(['WeatherEvent','Year','Month'],axis=1,inplace=True)

In [73]:
mydata.drop(['Day'],axis=1,inplace=True)

In [74]:
mydata.dropna(inplace=True)

In [30]:
mydata=mydata.reset_index()

In [31]:
mydata.drop('index',axis=1,inplace=True)

In [75]:
mydata.isnull().sum()

Temp high (°C)                 0
Temp avg (°C)                  0
Temp low (°C)                  0
Dew Point high (°C)            0
Dew Point avg (°C)             0
Dew Point low (°C)             0
Humidity (%) high              0
Humidity (%) avg               0
Humidity (%) low               0
Sea Level Press. (hPa) high    0
Sea Level Press. (hPa) avg     0
Sea Level Press. (hPa) low     0
Visibility (km) high           0
Visibility (km) avg            0
Visibility (km) low            0
Wind (km/h) low                0
Wind (km/h) avg                0
Wind (km/h) high               0
Precip. (mm) sum               0
date                           0
dtype: int64

In [ ]:
# anamoly in the data  which should be processed 
'high','-','avg','low','T','sum'

In [98]:
mydata['Temp high (°C)'].mode()[0]

28

In [88]:
mydata['Temp high (°C)'].replace(to_replace='high',value=mydata['Temp high (°C)'].mode()[0],inplace=True)

In [99]:
# reaplacing the 'high' values with mode
for i in mydata.columns[0:-1]:
    mydata[i].replace(to_replace='high',value=mydata[i].mode()[0],inplace=True)

In [101]:
# reaplacing the '-' values with mode
for i in mydata.columns[0:-1]:
    mydata[i].replace(to_replace='-',value=mydata[i].mode()[0],inplace=True)

In [102]:
# reaplacing the 'avg' values with mode
for i in mydata.columns[0:-1]:
    mydata[i].replace(to_replace='avg',value=mydata[i].mode()[0],inplace=True)

In [103]:
# reaplacing the 'low' values with mode
for i in mydata.columns[0:-1]:
    mydata[i].replace(to_replace='low',value=mydata[i].mode()[0],inplace=True)

In [104]:
# # reaplacing the 'Sum' values with mode
for i in mydata.columns[0:-1]:
    mydata[i].replace(to_replace='sum',value=mydata[i].mode()[0],inplace=True)

In [105]:
# reaplacing the 'T' values with mode
for i in mydata.columns[0:-1]:
    mydata[i].replace(to_replace='T',value=mydata[i].mode()[0],inplace=True)

In [106]:
for i in mydata.columns:
    print(i,mydata[i].unique())

Temp high (°C) [-3  1  3  6  0 -1  5  2 -6 -9 -2  8 11 12 10 14  7 18  4 16 13 21  9 17
 15 22 26 31 33 29 32 20 23 24 19 28 30 27 25 -5 -7 34 36 37 39 38 35 -4
 40 -8]
Temp avg (°C) [ -6  -2   1   5   2  -3  -7 -11 -10  -1  -4   4   0   7  -9   9   6  13
  11   3   8  16  14  10  12  19  21  27  22  15  17  18  20  23  24  25
  26  28  29  -5  -8  31  33  32  30  34 -12 -14]
Temp low (°C) [ -9  -5  -2  -4   3  -1  -3  -6 -13 -14  -7  -8 -11   1   2   7   0   6
  11   9   5   4   8  12  19  14  21  13  10  16  17  15  18  20  22  23
  24 -10  26  27  25 -12  29  28 -16 -17 -18]
Dew Point high (°C) [-16  -3  -5 -10  -1  -2   2   0  -9 -13  -7 -11   4  -4 -17   1   6  -6
   3   9  11  -8   8 -12  10   5   7  14  12  13  18  17  19  15  16  20
  21  22  23  24  25 -14 -15 -18 -22 -19 -21 -24  26]
Dew Point avg (°C) [-17  -7  -9 -12  -5 -11   1  -6 -10  -4 -16 -13 -20 -19  -3 -14 -15  -1
  -2 -18   0   6   2  -8   7   4   8  10   3   5   9  12  11  16  14  13
  15  17  18  19  21  22  20  23  24 -21 -24 -22 -23 -27]
Dew Point low (°C) [-19 -17 -13 -16 -18  -2  -9 -12 -11 -20 -22  -6  -7   2  -3 -15  -5 -14
   3   4 -21 -10   6   7  -1   1  -4  -8   8   9  10  11   5  13  14   0
  12  15  16  17  18  19  21  20  22 -27 -23 -24 -25 -28]
Humidity (%) high [ 54  78  72  55  62  85  96  82  58  88  92  77  70  84  59  60 100  81
  67  66  57  69  75  68  61  76  80  89  53  50  63  64  83  93  45  32
  46  48  74  44  51  65  37  86  97  56  71  73  90  87  79  94  52  47
  41  42  49  40  43  35  28  39  91  36  34]
Humidity (%) avg [43 57 54 42 48 91 63 51 69 78 61 62 52 66 50 55 46 44 70 60 53 88 47 58
 49 67 37 40 45 74 64 76 56 75 59 82 73 34 23 33 38 71 92 83 80 72 39 41
 28 90 77 84 86 97 95 68 87 89 65 81 79 85 94 93 29 31 36 27 32 30 35 20
 26 96]
Humidity (%) low [32 36 35 29 33 22 85 44 43 50 63 45 53 47 39 55 38 31 37 30 75 34 52 20
 27 40 28 59 42 51 54 41 46 71 24 49 17 14 19 83 65 60 26 23 16 21 18 80
 61 68 48 72 93 89 81 67 73 84 78 57 66 64 62 58 79 56 69 87 90 70 82 25
 76 13 86 15 77 74 12 11 92  9]
Sea Level Press. (hPa) high [1025 1022 1018 1020 1016 1019 1008 1006 1024 1026 1030 1035 1036 1007
 1015 1017 1027 1028 1031 1033 1029 1014 1004 1023 1021 1032 1034 1011
 1012 1005 1009 1001 1010 1000 1013 1003  996 1002  998  994 1039 1040
 1037 1038  995  999 1041 1042 1044 1043]
Sea Level Press. (hPa) avg [1023 1012 1015 1017 1014  994  997 1016 1022 1011 1032 1031 1013 1005
 1027 1029 1009 1026 1024 1028 1010  996 1021 1008 1019 1030 1018 1025
 1000 1004  998  999 1007 1020 1006 1003 1001 1002  992  988 1033  989
  993 1036 1038 1035  987 1037 1034  991  980  990 1041 1040]
Sea Level Press. (hPa) low [1015 1007 1008 1013 1009  986  989 1006 1012 1019 1029 1025 1003 1014
 1028  999 1010 1011 1005 1022 1027 1024 1018  997  992 1004 1020 1021
  994 1016 1023 1026 1030  993  995  987 1002 1017 1000  998 1001  988
  983  980  978  996  991 1031 1034 1033  966  990  982 1035  984 1032
 1036 1037]
Visibility (km) high [16 13 14 11 10  8]
Visibility (km) avg [16 13 14  8  9  7  5  6 15 11 10 12  4  2  3  1]
Visibility (km) low [16  2  6  3  1  5 14  0 11  8  4 13 10]
Wind (km/h) low [ 37  27  32  23  24  40  34  29  26  19  14  35  16  21  48  39  42  10
  13  45  47  11  60  50  52  61   6   8 159 121]
Wind (km/h) avg [ 18  10  16  12  11  17   9  14  15   4  13   8   7   6  22  19  21  24
   5   0   2   3  20  23  25  37  28  26   1  30 159]
Wind (km/h) high [ 60  48  42  40  34  29  52  50  47  39  35  32  27  21  37  56  23  26
  53  24  77  58  61  45  11  19  64  71  14  63  66  85  69  16  76  97
  43  31  55 100  72  74  18 159  68]
Precip. (mm) sum [  0.     2.03  30.23   3.56   4.83   1.27   4.57  24.64   7.11   0.76
   3.05   8.13   1.78   1.02   3.81  12.45   0.25   2.54   3.3   10.16
   9.4    9.14  23.11  14.22   4.32   5.08  45.47   2.29  10.67   2.79
  10.41   8.89   7.87  29.21  26.92  15.75   4.06   1.52  10.92  12.7
  13.72  23.88   0.51  46.48  15.49  58.42  11.43   7.62  18.54  16.76
  15.24   8.38   5.33  28.96   9.91  36.07  38.61  18.03  26.67  13.46
  16.26  18.8   12.95  13.97  21.34  26.16   7.37  14.99  45.97  32.77
   6.86  37.59  24.13   6.1    5.84  14.48  31.75  33.78  30.48  50.8
  29.72  98.04  34.04   8.64  40.13  62.23  40.64  17.53  27.69  22.61
   6.35  17.78  42.93  25.4   11.68  27.94  62.48  28.7   35.05  13.21
  32.26  21.84  33.53  11.18  51.31  27.18  22.1    9.65  36.83  19.05
  17.02  55.37  46.23   6.6   27.43  19.3   53.09 147.57  31.5   73.15
 101.35  81.79  30.73  22.86  66.29  18.29  25.91  28.45  16.    29.46
  11.94  42.67   5.59  35.56  44.7   14.73  39.12  49.78  25.15  39.62
  20.07  76.71  21.59 105.66  12.19  32.    16.51  50.29  36.32  45.21
  23.37 126.24  32.51  24.38  33.02  29.97  28.19  38.35  30.99  64.52
  20.32  53.34  20.57  34.8   37.08  49.53  39.37  45.72  58.67  25.65
  41.91  21.08  20.83  17.27  35.81  55.88]
date ['2009-Jan' '2009-Feb' '2009-Mar' '2009-Apr' '2009-May' '2009-Jun'
 '2009-Jul' '2009-Aug' '2009-Sep' '2009-Oct' '2009-Nov' '2009-Dec'
 '2010-Jan' '2010-Feb' '2010-Mar' '2010-Apr' '2010-May' '2010-Jun'
 '2010-Jul' '2010-Aug' '2010-Sep' '2010-Oct' '2010-Nov' '2010-Dec'
 '2011-Jan' '2011-Feb' '2011-Mar' '2011-Apr' '2011-May' '2011-Jun'
 '2011-Jul' '2011-Aug' '2011-Sep' '2011-Oct' '2011-Nov' '2011-Dec'
 '2012-Jan' '2012-Feb' '2012-Mar' '2012-Apr' '2012-May' '2012-Jun'
 '2012-Jul' '2012-Aug' '2012-Sep' '2012-Oct' '2012-Nov' '2012-Dec'
 '2013-Jan' '2013-Feb' '2013-Mar' '2013-Apr' '2013-May' '2013-Jun'
 '2013-Jul' '2013-Aug' '2013-Sep' '2013-Oct' '2013-Nov' '2013-Dec'
 '2014-Jan' '2014-Feb' '2014-Mar' '2014-Apr' '2014-May' '2014-Jun'
 '2014-Jul' '2014-Aug' '2014-Sep' '2014-Oct' '2014-Nov' '2014-Dec'
 '2015-Jan' '2015-Feb' '2015-Mar' '2015-Apr' '2015-May' '2015-Jun'
 '2015-Jul' '2015-Aug' '2015-Sep' '2015-Oct' '2015-Nov' '2015-Dec'
 '2016-Jan' '2016-Feb' '2016-Mar' '2016-Apr' '2016-May' '2016-Jun'
 '2016-Jul' '2016-Aug' '2016-Sep' '2016-Oct' '2016-Nov' '2016-Dec']

In [113]:
# cleaned and proccesed data of weatther
weather=mydata.groupby(by='date').mean().reset_index()

In [132]:
mydata.drop('Month',axis=1,inplace=True)

In [315]:
weather.head()

,date,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,Humidity (%) avg,Humidity (%) low,Sea Level Press. (hPa) high,Sea Level Press. (hPa) avg,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Precip. (mm) sum
0,2009-Apr,17.100000,12.733333,7.833333,6.233333,2.533333,-1.200000,75.466667,55.700000,35.733333,1018.833333,1014.533333,1010.433333,15.9,14.066667,10.866667,27.300000,11.366667,39.566667,3.970667
1,2009-Aug,27.967742,24.387097,20.548387,20.451613,18.483871,16.129032,88.870968,72.483871,55.677419,1018.225806,1015.967742,1013.387097,16.0,14.483871,9.903226,19.290323,6.806452,28.064516,3.465806
2,2009-Dec,5.451613,2.354839,-1.032258,-0.935484,-4.677419,-8.709677,77.612903,61.741935,45.258065,1022.483871,1017.225806,1012.193548,16.0,13.774194,10.677419,28.580645,13.451613,42.838710,5.956452
3,2009-Feb,6.964286,2.785714,-1.642857,-2.464286,-6.392857,-10.571429,69.535714,54.000000,38.107143,1021.714286,1017.071429,1012.464286,16.0,15.178571,13.285714,27.928571,12.214286,41.642857,0.780357
4,2009-Jan,0.741935,-2.096774,-5.322581,-6.096774,-9.903226,-14.000000,71.774194,57.354839,42.322581,1021.290323,1015.967742,1010.516129,16.0,14.000000,11.451613,27.000000,12.000000,39.322581,2.441935

# cleaning events holiday day

In [147]:

events=pd.read_table('/Users/MCHARU/Desktop/events_holidays2.csv',sep=',')

In [125]:
events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
Year           150 non-null int64
MonthDate      150 non-null object
Event          150 non-null object
DayCategory    150 non-null object
dtypes: int64(1), object(3)
memory usage: 4.8+ KB

In [155]:
events.head()

                        Event      DayCategory      date
0              New Year's Day  Federal Holiday  2009-Jan
1  Martin Luther King Jr. Day  Federal Holiday  2009-Jan
2             Valentine's Day            Event  2009-Feb
3             Presidents' Day  Federal Holiday  2009-Feb
4               Easter Sunday            Event  2009-Apr

In [148]:
events['MonthDate']=events.MonthDate.str.split('-',expand=True)[0]

In [149]:
events.Year=events.Year.astype(str)

In [ ]:
events['date']=events['Year']+'-'+events['MonthDate']

In [154]:
events.drop(['Year','MonthDate'],axis=1,inplace=True)

In [169]:
events_=pd.DataFrame(events.date.value_counts()).reset_index()

In [175]:
events_.head()

       date  days
0  2010-Dec     5
1  2015-Dec     4
2  2016-Dec     4
3  2011-Dec     4
4  2012-Jan     3

In [174]:
# prepared data foe the evensts
events_=events_.rename({'index':'date','date':'days'},axis=1)

# Cleaning Macro data

In [181]:
macro=pd.read_excel('/Users/MCHARU/Desktop/macro_economic.xlsx')

In [188]:
macro.head()

,Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports
0,2009 - Jan,14421.752895,14407.053343,233.402,Democrats,7.8,12.03,11.44,22.05,137,57.70,4.02,9.296,7.559,799,12.589,4.17,11.550
1,2009 - Feb,14389.200466,14366.176571,234.663,Democrats,8.3,12.97,11.05,22.22,200,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.100
2,2009 - Mar,14340.701639,14351.786822,235.067,Democrats,8.7,12.97,11.05,22.22,?,51.50,-6.72,9.296,7.559,799,12.589,3.72,11.650
3,2009 - Apr,14326.815525,14351.601731,235.582,Democrats,9.0,12.97,11.05,22.13,214,56.78,10.25,9.296,7.559,787,12.400,3.62,12.225
4,2009 - May,14345.904809,14368.123959,235.975,Democrats,9.4,13.32,11.25,22.04,?,61.95,9.11,9.297,7.400,803,12.384,3.52,12.300

In [192]:
for i in macro.columns:
    print(i,macro[i].unique())

Year-Month ['2009 - Jan' '2009 - Feb' '2009 - Mar' '2009 - Apr' '2009 - May'
 '2009 - Jun' '2009 - Jul' '2009 - Aug' '2009 - Sep' '2009 - Oct'
 '2009 - Nov' '2009 - Dec' '2010 - Jan' '2010 - Feb' '2010 - Mar'
 '2010 - Apr' '2010 - May' '2010 - Jun' '2010 - Jul' '2010 - Aug'
 '2010 - Sep' '2010 - Oct' '2010 - Nov' '2010 - Dec' '2011 - Jan'
 '2011 - Feb' '2011 - Mar' '2011 - Apr' '2011 - May' '2011 - Jun'
 '2011 - Jul' '2011 - Aug' '2011 - Sep' '2011 - Oct' '2011 - Nov'
 '2011 - Dec' '2012 - Jan' '2012 - Feb' '2012 - Mar' '2012 - Apr'
 '2012 - May' '2012 - Jun' '2012 - Jul' '2012 - Aug' '2012 - Sep'
 '2012 - Oct' '2012 - Nov' '2012 - Dec' '2013 - Jan' '2013 - Feb'
 '2013 - Mar' '2013 - Apr' '2013 - May' '2013 - Jun' '2013 - Jul'
 '2013 - Aug' '2013 - Sep' '2013 - Oct' '2013 - Nov' '2013 - Dec'
 '2014 - Jan' '2014 - Feb' '2014 - Mar' '2014 - Apr' '2014 - May'
 '2014 - Jun' '2014 - Jul' '2014 - Aug' '2014 - Sep' '2014 - Oct'
 '2014 - Nov' '2014 - Dec' '2015 - Jan' '2015 - Feb' '2015 - Mar'
 '2015 - Apr' '2015 - May' '2015 - Jun' '2015 - Jul' '2015 - Aug'
 '2015 - Sep' '2015 - Oct' '2015 - Nov' '2015 - Dec' '2016 - Jan'
 '2016 - Feb' '2016 - Mar' '2016 - Apr' '2016 - May' '2016 - Jun'
 '2016 - Jul' '2016 - Aug' '2016 - Sep' '2016 - Oct' '2016 - Nov'
 '2016 - Dec']
Monthly Nominal GDP Index (inMillion$) [14421.75289545 14389.20046603 14340.70163858 14326.81552535
 14345.90480886 14348.53066581 14317.37292215 14424.28490124
 14410.77717654 14596.60544727 14590.43225154 14512.49530117
 14613.99148065 14652.88027156 14776.31724778 14844.53119319
 14875.69843563 14945.57037111 15019.23526269 15036.27762697
 15117.46711039 15219.05903607 15185.62894712 15285.93601679
 15149.13616338 15161.57833058 15404.39850607 15488.00486366
 15472.39128913 15422.38184725 15547.85445175 15649.03813558
 15564.4824127  15840.38540642 15775.0060677  15740.54452592
 15864.50233861 16073.57538983 15983.56527164 16091.22810005
 16121.95896343 16152.36593651 16239.42010321 16161.11817178
 16283.27872498 16208.31475726 16272.70622675 16411.02601591
 16503.91568442 16433.88271947 16488.52159617 16521.13392709
 16461.87323257 16641.16284028 16685.742246   16776.99256506
 16785.31218902 16884.85481584 17053.73810745 17061.07107666
 16955.60862604 17028.58634802 17109.77702582 17208.8646835
 17345.33402795 17408.56428866 17551.78106545 17684.63534872
 17630.35458582 17709.43696653 17765.33756977 17733.02446359
 17792.11695321 17931.04618966 17900.9818572  18015.74811996
 18075.28141234 18188.64246763 18163.85799197 18201.39288798
 18317.81611998 18278.30427034 18266.24460509 18317.12912451
 18286.63852312 18241.71381239 18447.20866453 18533.93674863
 18498.12116417 18582.05908714 18605.48040684 18741.59994678
 18840.30964642 18740.78002345 18960.46156831 19015.39340818]
Monthly Real GDP Index (inMillion$) [14407.05334302 14366.1765714  14351.78682174 14351.60173054
 14368.1239592  14346.82010557 14345.67609735 14435.81250855
 14425.97275157 14595.39309388 14559.41017325 14471.04084392
 14551.02483793 14581.37569423 14682.0107425  14724.20015283
 14741.36734698 14772.31805126 14833.74927714 14824.16576964
 14878.54698311 14945.42708784 14896.67481339 14975.04020685
 14838.15558028 14801.73418134 15004.11546998 15050.661172
 14990.96381558 14927.33273134 15011.76141067 15085.22925531
 14966.8228661  15249.76348423 15172.6925599  15148.82219533
 15226.20467848 15385.8470176  15261.34058198 15340.65357981
 15354.65058264 15392.24927518 15433.36986745 15317.42419331
 15391.8773101  15292.34986023 15362.09785541 15498.6520671
 15554.42687798 15435.67510313 15485.7382618  15529.83569594
 15450.31863521 15584.74752785 15606.00806818 15673.43997051
 15644.83226841 15729.95936646 15841.75876195 15810.41018209
 15705.97266658 15762.59891999 15804.51906797 15870.17805342
 15946.74133585 15990.97741827 16089.49918723 16196.42013178
 16133.04942679 16196.81447417 16243.05473439 16221.18012522
 16319.78631403 16400.92673708 16329.52379192 16427.13667137
 16434.48237646 16521.30188568 16475.9998545  16505.53761507
 16601.48987869 16540.85972316 16524.19949427 16578.00454441
 16546.15312348 16503.50035842 16665.28201794 16693.62932615
 16627.18369744 16669.87678067 16684.74318407 16797.20661031
 16852.56274525 16725.46009834 16910.89633033 16918.0506237 ]
CPI [233.402 234.663 235.067 235.582 235.975 237.172 237.6   238.282 238.568
 238.38  238.777 238.427 238.97  238.862 240.101 240.529 241.075 240.817
 241.147 241.569 241.485 241.981 241.96  241.874 242.639 243.832 245.617
 246.489 248.073 248.505 249.164 250.058 250.559 250.051 249.317 248.307
 249.322 250.285 251.887 252.349 252.652 252.406 252.016 253.472 254.554
 254.277 254.285 253.555 254.807 256.234 256.589 255.967 256.27  256.911
 257.326 257.659 258.504 257.069 257.377 257.284 259.596 259.019 259.971
 259.985 261.225 261.35  261.498 261.075 261.074 260.5   259.382 258.08
 258.376 259.24  259.647 259.959 261.066 261.512 261.199 261.347 261.887
 261.515 261.009 259.941 260.342 260.875 261.508 262.619 263.312 263.877
 263.722 264.16  264.602 264.738 265.203 265.421]
PartyInPower ['Democrats']
unemployment rate [ 7.8  8.3  8.7  9.   9.4  9.5  9.6  9.8 10.   9.9  9.3  9.1  8.8  8.6
  8.5  8.2  8.1  7.7  7.9  8.   7.5  7.6  7.3  7.2  6.9  6.7  6.6  6.2
  6.3  6.1  5.9  5.7  5.8  5.6  5.5  5.4  5.3  5.2  5.1  5.   4.9  4.7
  4.8  4.6]
CommercialBankInterestRateonCreditCardPlans [12.03 12.97 13.32 13.71 13.6  14.26 13.84 13.59 13.44 12.89 12.28 12.36
 12.34 12.06 11.95 11.88 11.94 11.85 11.83 11.82 11.99 11.98 12.04 12.1
 12.22 12.31 12.16 12.51 12.41]
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan [11.44 11.05 11.25 10.89 11.2  10.83 11.   10.71 10.94 10.98 11.37 10.8
 10.36 10.37 10.64 10.12 10.34 10.13 10.22 10.09  9.57 10.73 10.47  9.85
  9.69  9.8   9.66 10.03  9.65  9.64  9.45]
Earnings or wages  in dollars per hour [22.05 22.22 22.13 22.04 21.96 22.   22.16 22.2  22.27 22.44 22.38 22.51
 22.57 22.48 22.53 22.6  22.34 22.41 22.55 22.7  22.69 22.76 23.16 22.99
 22.9  22.96 23.06 22.81 22.94 22.85 23.05 23.3  23.15 23.22 23.56 23.4
 23.39 23.61 23.32 23.27 23.48 23.26 23.67 23.52 23.58 23.85 23.88 23.9
 23.84 23.92 23.8  23.81 24.16 24.04 24.11 24.3  24.35 24.58 24.5  24.4
 24.42 24.31 24.32 24.52 24.78 24.59 24.88 25.05 25.04 24.94 24.77 24.83
 25.14 25.38 25.21 25.5  25.49 25.6  25.68 25.42 25.53 25.52 25.74 26.04
 25.87 25.9 ]
AdvertisingExpenses (in Thousand Dollars) [137. 200. 185. 214. 248. 116. 165. 150. 221. 208. 201. 183.]
Cotton Monthly Price - US cents per Pound(lbs) [ 57.7   55.21  51.5   56.78  61.95  61.39  64.8   64.26  64.07  66.82
  71.78  76.78  77.4   80.04  85.79  88.09  90.07  91.68  84.15  90.35
 104.73 126.55 155.47 168.22 178.93 213.18 229.67 216.62 165.52 160.65
 149.25 114.1  116.65 110.61 104.68  95.45 101.11 100.75  99.5  100.1
  88.53  82.18  83.97  84.4   81.95  80.87  83.37  85.51  89.71  94.45
  92.54  92.62  93.08  92.71  90.09  89.35  84.65  87.49  90.96  94.05
  96.95  94.2   90.9   83.84  74.    73.38  70.34  67.53  68.3   67.35
  69.84  69.35  71.7   72.86  72.35  71.82  68.74  69.03  69.22  70.39
  68.75  66.57  65.46  69.28  70.28  74.1   81.06  80.26  77.86  78.52
  78.92  79.5 ]
Change(in%) [  4.02  -4.32  -6.72  10.25   9.11  -0.9    5.55  -0.83  -0.3    4.29
   7.42   6.97   0.81   3.41   7.18   2.68   2.25   1.79  -8.21   7.37
  15.92  20.83  22.85   8.2    6.37  19.14   7.74  -5.68 -23.59  -2.94
  -7.1  -23.55   2.23  -5.18  -5.36  -8.82   5.93  -0.36  -1.24   0.6
 -11.56  -7.17   2.18   0.51  -2.61  -1.32   3.09   2.57   4.91   5.28
  -2.02   0.09   0.5   -0.49   0.1   -2.83  -0.82  -5.26   3.35   3.97
   3.4    3.08  -2.84  -1.58  -1.95  -7.77 -11.74  -0.84  -4.14  -3.99
   1.14  -1.39   3.7   -0.7    3.39   1.62   0.    -0.73  -4.29   0.42
   0.28   1.69  -2.33  -3.17  -1.67   5.84   1.44   5.44   9.39  -0.99
  -2.99   0.85   0.73]
Average upland planted(million acres) [ 9.296  9.297  8.668  8.905  8.989  9.008 10.315 10.7   10.829 10.769
 12.313 13.436 14.431 14.426 14.428 12.885 12.4   12.121 12.077 12.076
  9.82  10.025 10.015 10.136 10.206 10.943 11.191 10.818 10.845  9.399
  8.85   8.75   8.398  8.422  9.347  9.824  9.95 ]
Average upland harvested(million acres) [ 7.559  7.4    7.76   7.753  7.619  7.582  7.586  7.552  7.391  9.642
 10.193 10.424 10.566 10.505 10.497  9.95   9.314  9.379  9.562  9.444
  9.156 10.234 10.167 10.577 10.206  9.19   9.135  7.896  7.579  7.519
  7.465  7.345  8.594 10.065  9.692  9.518  9.157  8.451  8.353  7.749
  8.012  7.995  7.922  7.903  7.92   8.588  9.104  9.34   9.464]
yieldperharvested acre [799 787 803 796 809 827 767 774 763 747 766 806 836 831 833 835 814 807
 804 805 785 794 797 781 757 754 772 764 773 771 782 790 849 862 869 815
 777 788 802 811 808 776 783 760 826 784 770 755 758 756 792 791 810]
Production (in  480-lb netweright in million bales) [12.589 12.4   12.384 12.876 12.863 12.84  13.071 12.631 12.129 12.225
 12.011 11.751 11.788 16.2   17.75  18.036 18.343 18.375 17.92  17.77
 17.817 17.597 17.6   16.323 15.225 15.817 15.819 15.871 15.563 15.09
 14.828 14.722 16.28  16.365 16.988 16.452 16.63  16.79  16.6   16.25
 16.51  16.535 12.92  12.872 12.473 12.273 12.479 12.443 12.551 12.234
 12.275 14.512 15.955 16.946 15.96  15.677 15.345 15.496 15.735 15.753
 14.03  14.035 12.65  12.977 12.887 12.83  12.58  12.508 12.44  12.455
 12.165 15.215 15.314 15.58  15.472 15.6   15.962]
Mill use  (in  480-lb netweright in million bales) [4.17  3.87  3.72  3.62  3.52  3.47  3.37  3.375 3.275 3.57  3.42  3.565
 3.665 3.76  3.77  3.775 3.575 3.475 3.373 3.38  3.48  3.58  3.675 3.625
 3.725]
Exports [11.55  11.1   11.65  12.225 12.3   10.3    9.7   10.     9.95  10.425
 10.4   11.4   11.375 11.365 11.34  13.05  13.8   14.525 15.025 15.275
 15.28  15.02  12.4   11.325 10.825 10.625 10.65  10.35  10.75  11.075
 10.875 11.475 11.75  12.    12.45  13.38   9.65   9.75   9.975  9.675
  9.22   9.72  10.15   9.45  10.2   10.25   9.475  9.5    9.525  9.05
  9.025  8.5   10.95  11.425 11.6  ]

In [187]:
macro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 18 columns):
Year-Month                                                           96 non-null object
Monthly Nominal GDP Index (inMillion$)                               96 non-null float64
Monthly Real GDP Index (inMillion$)                                  96 non-null float64
CPI                                                                  96 non-null float64
PartyInPower                                                         96 non-null object
unemployment rate                                                    96 non-null float64
CommercialBankInterestRateonCreditCardPlans                          96 non-null float64
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    96 non-null float64
Earnings or wages  in dollars per hour                               96 non-null float64
AdvertisingExpenses (in Thousand Dollars)                            96 non-null object
Cotton Monthly Price - US cents per Pound(lbs)                       96 non-null float64
Change(in%)                                                          96 non-null float64
Average upland planted(million acres)                                96 non-null float64
Average upland harvested(million acres)                              96 non-null float64
yieldperharvested acre                                               96 non-null int64
Production (in  480-lb netweright in million bales)                  96 non-null float64
Mill use  (in  480-lb netweright in million bales)                   96 non-null float64
Exports                                                              96 non-null float64
dtypes: float64(14), int64(1), object(3)
memory usage: 13.6+ KB

In [189]:
macro.isnull().sum()

Year-Month                                                           0
Monthly Nominal GDP Index (inMillion$)                               0
Monthly Real GDP Index (inMillion$)                                  0
CPI                                                                  0
PartyInPower                                                         0
unemployment rate                                                    0
CommercialBankInterestRateonCreditCardPlans                          0
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    0
Earnings or wages  in dollars per hour                               0
AdvertisingExpenses (in Thousand Dollars)                            0
Cotton Monthly Price - US cents per Pound(lbs)                       0
Change(in%)                                                          0
Average upland planted(million acres)                                0
Average upland harvested(million acres)                              0
yieldperharvested acre                                               0
Production (in  480-lb netweright in million bales)                  0
Mill use  (in  480-lb netweright in million bales)                   0
Exports                                                              0
dtype: int64

In [191]:
macro['AdvertisingExpenses (in Thousand Dollars)'].replace(to_replace='?',value=np.nan,inplace=True)
macro['AdvertisingExpenses (in Thousand Dollars)'].fillna('185',inplace=True)
macro['AdvertisingExpenses (in Thousand Dollars)']=pd.to_numeric(macro['AdvertisingExpenses (in Thousand Dollars)'])

In [233]:
macro.drop('Year-Month',axis=1,inplace=True)

In [288]:
macro['date']=pd.DataFrame(macro.date.str.split('-',expand=True)[0]+'-'+macro.date.str.split('-',expand=True)[1])

In [296]:
macro['l1']=macro.date.str.split('-',expand=True)[0]

In [298]:
macro['l2']=macro.date.str.split('-',expand=True)[1]

In [308]:
macro['date']=macro.date.str.replace(' ','')

# Train data

In [205]:
train.head()

  ProductCategory  Sales(In ThousandDollars)      date
0   WomenClothing                     1755.0  2009-Jan
1     MenClothing                      524.0  2009-Jan
2   OtherClothing                      936.0  2009-Jan
3   WomenClothing                     1729.0  2009-Feb
4     MenClothing                      496.0  2009-Feb

In [196]:
import calendar

In [200]:
train['Year']=train['Year'].astype(str)

In [198]:
train['Month'] = train['Month'].apply(lambda x: calendar.month_abbr[x])

In [202]:
train['date']=train['Year']+'-'+train['Month']

In [204]:
train.drop(['Year','Month'],axis=True,inplace=True)

In [208]:
train['Sales(In ThousandDollars)'].fillna(1702,inplace=True)

In [210]:
train.head()

  ProductCategory  Sales(In ThousandDollars)      date
0   WomenClothing                     1755.0  2009-Jan
1     MenClothing                      524.0  2009-Jan
2   OtherClothing                      936.0  2009-Jan
3   WomenClothing                     1729.0  2009-Feb
4     MenClothing                      496.0  2009-Feb

 # Test data

In [219]:
test.head()

  ProductCategory      date
0   WomenClothing  2015-Jan
1     MenClothing  2015-Jan
2   OtherClothing  2015-Jan
3   WomenClothing  2015-Feb
4     MenClothing  2015-Feb

In [214]:
test['Month']=test['Month'].apply(lambda x:calendar.month_abbr[x])

In [216]:
test['Year']=test['Year'].astype(str)

In [217]:
test['date']=test['Year']+'-'+test['Month']

In [218]:
test.drop(['Year','Month','Sales(In ThousandDollars)'],axis=1,inplace=True)

# Merging all data sets to create main  data to be fitted in the model

In [312]:
# merging events data with test
test_=pd.merge(test,events_,how='left',on='date')

In [314]:
# merging train with events dataset
train_=pd.merge(train,events_,how='left',on='date')

In [318]:
#merging test to weather
test_=pd.merge(test_,weather,how='inner')

In [321]:
# merging train weather
train_=pd.merge(train_,weather,how='inner')

In [323]:
# merging test to macro economic data
test_=pd.merge(test_,macro,how='inner')

In [325]:
# merging  train to macro
train_=pd.merge(train_,macro,how='inner')

# Checking for null values

In [334]:
train_.days.fillna(2.0,inplace=True)

In [335]:
test_.days.fillna(2.0,inplace=True)

In [337]:
train_.drop(['l1','l2'],axis=1,inplace=True)

In [338]:
test_.drop(['l1','l2'],axis=1,inplace=True)

In [339]:
# now the data is perfect to scaled and for getting dummies

In [340]:
train_.shape

(216, 40)

In [341]:
test_.shape

(36, 39)

In [357]:
# creating dummies
dummy_train=pd.get_dummies(train_.drop('date',axis=1))
dummy_test=pd.get_dummies(test_.drop('date',axis=1))

In [353]:
# scaling the data
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [360]:
dummy_train.columns

Index(['Sales(In ThousandDollars)', 'days', 'Temp high (°C)', 'Temp avg (°C)',
       'Temp low (°C)', 'Dew Point high (°C)', 'Dew Point avg (°C)',
       'Dew Point low (°C)', 'Humidity (%) high', 'Humidity (%) avg',
       'Humidity (%) low', 'Sea Level Press. (hPa) high',
       'Sea Level Press. (hPa) avg', 'Sea Level Press. (hPa) low',
       'Visibility (km) high', 'Visibility (km) avg', 'Visibility (km) low',
       'Wind (km/h) low', 'Wind (km/h) avg', 'Wind (km/h) high',
       'Precip. (mm) sum', 'Monthly Nominal GDP Index (inMillion$)',
       'Monthly Real GDP Index (inMillion$)', 'CPI', 'unemployment rate',
       'CommercialBankInterestRateonCreditCardPlans',
       'Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan',
       'Earnings or wages  in dollars per hour',
       'AdvertisingExpenses (in Thousand Dollars)',
       'Cotton Monthly Price - US cents per Pound(lbs)', 'Change(in%)',
       'Average upland planted(million acres)',
       'Average upland harvested(million acres)', 'yieldperharvested acre',
       'Production (in  480-lb netweright in million bales)',
       'Mill use  (in  480-lb netweright in million bales)', 'Exports',
       'ProductCategory_MenClothing', 'ProductCategory_OtherClothing',
       'ProductCategory_WomenClothing', 'PartyInPower_Democrats'],
      dtype='object')

In [374]:
scaled_train=pd.DataFrame(sc.fit_transform(dummy_train.drop('Sales(In ThousandDollars)',axis=1)))

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/anaconda3/lib/python3.7/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [376]:
scaled_test=pd.DataFrame(sc.fit_transform(dummy_test))

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/anaconda3/lib/python3.7/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [377]:
y=dummy_train['Sales(In ThousandDollars)']

In [378]:
scaled_train.shape

(216, 40)

In [379]:
y.shape

(216,)

# Apllying decision tree

In [380]:
from sklearn.tree import DecisionTreeRegressor
dtree=DecisionTreeRegressor()

In [383]:
pred_tree=dtree.fit(scaled_train,y).predict(scaled_test)

In [386]:
sub=pd.read_csv('/Users/MCHARU/Desktop/sample_submission.csv')

In [387]:
sub.head()

   S.No.  Sales
0      1   1000
1      2   1000
2      3   1000
3      4   1000
4      5   1000

#  Applying random forrest

In [390]:
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor()

In [391]:
pred_rf=rf.fit(scaled_train,y).predict(scaled_test)

/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [392]:
pred_rf

array([2462.5,  625.8, 1071. , 2522.2,  640.7, 1140.2, 2800.5,  690.2,
       1123.9, 3091.3,  737.3, 1027.6, 3259.5,  600.9, 1123.6, 3229.8,
        669.5, 1232.4, 3311.5,  852.3, 1187.4, 3101.3,  892.1, 1276.3,
       4073.9,  681.7, 1131.1, 3535.8,  839.6, 1136.5, 3653.5,  832.9,
       1396. , 4304.3,  927.6, 1469.6])

# Applying Xgboost

In [394]:
from xgboost import XGBRegressor

In [395]:
xg=XGBRegressor()

In [396]:
pred_xg=xg.fit(scaled_train,y).predict(scaled_test)

In [397]:
pd.DataFrame({'S.No.':sub['S.No.'],
             'Sales':pred_xg}).to_csv('sub_wallmart',index=False)